@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(44, 44, 44);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "main time "
    "main history";

  grid-template-columns: 55% 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 4rem;
  place-content: center;
  overflow-y: auto;
}

@media screen and (max-width: 768px) { 
  .gridContainer {
    grid-template-areas:
      "time"
      "main"
      "history";
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .5fr;
  }
}
